.red{
    color:rgb(223, 10, 10);
}
.dd{
    border: 5px solid rgb(25, 92, 30);
}
.dd1{
    padding-left: 17px;
    background-color: rgb(250, 245, 245);
    padding-top: 1px;
    height: 280px;
}
.background{
    border-left: 6px solid rgb(0, 255, 102);
    background-color: aliceblue;
    width: 1400px;
    height: 150px;
    padding-left: 30px;
}

.button{
    background-color: green;
    color: aliceblue;
}