.wl{
    text-align: center;
    color: rgb(118, 127, 245);
}
.thead{
    text-align: center;
   background-color: blue;
   color: white;
}
.tr1{
    background-color :antiquewhite;
}
.tr2{
    background-color: white;
}

.table{
    width: 100%;
    border-collapse: collapse;
}