.head{
    background-color: blue;
    color: white;
}
.tr1{
    background-color: azure;
}
.red{
    background-color: red;
    color: rgb(0, 0, 0);
}
.yellow{
    background-color: yellow;
    color: rgb(2, 0, 0);
}
.green{
    background-color: green;
    color: white;
}
