.img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
   
}
.content{
    padding-top: 20px;
    background-color: white;
    height: 360px;
}
header{
    background-color: rgb(33, 33, 248);
    color: white;
    height: 100px;
    text-align: center;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #f8f4f4;
}
footer{
    background-color:darkgray;
    color: white;
    text-align: center;
}
.nt{
    display: inline-block;
    text-align: start;
    border-bottom: 50px;
}
