
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
}
.m{
    color: #fff;
    text-decoration: none;
    
}
.img{
    width: 300x;
    height: 300px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
   
}
.nt{
    display: inline;
    text-align: start;
    align-items: center; 
    justify-content: center;

}
.content{
 background-color: darkgrey;
 color: black;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.project {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}